.cart-container {
    max-width: 900px;
    margin: 40px auto;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.H1 {
    font-size: 28px;
    text-align: left;
    margin-bottom: 20px;
}

.cart-msg {
    text-align: center;
    font-size: 18px;
    color: #777;
}

.cart-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
}

.cart-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 15px 0;
    gap: 20px;
}


.cart-table:last-child {
    border-bottom: none;
}

.img-box {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 1;   
}


.item-img {
    width: 100px;
    height: auto;
}

.item-title {
    font-size: 16px;
    font-weight: bold;
}

.item-price {
    color: #2e7d32;
    margin-top: 3px;
}

.remove-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    background: #ff5252;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 120px;   
    text-align: center; 
}


.remove-btn:hover {
    background: #d32f2f;
}

.total-box {
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.total-price {
    color: #2e7d32;
}

.pay-btn {
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pay-btn:hover {
    background-color: #218838;
}

.pay-container {
    margin-top: 15px;
    text-align: right;
}
