.main-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 35px;
}

.Heading {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.second-heading {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
    font-weight: 500;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.card-container {
    width: 250px;
    background: #ffffff;
    border-radius: 8px;
    border : 1px solid #e0e0e0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    padding: 15px;
}

.image-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.product-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    height: 40px;
    overflow: hidden;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #2e7d32;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

.add-btn {
    background-color:#2e7d32;
}

.add-btn:hover {
    background-color: #008236;
}

.added-btn {
    background-color:#016630;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}