.nav-container {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    height: 60px;
    max-width: 1200px;
    margin: 30px auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.Logo {
    height: 80px;
    width: auto;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.nav-links li {
    cursor: pointer;
    padding: 5px 10px;
    color: #333;
}

.nav-links li:hover {
    color: #008236;
}

.nav-section {
    display: flex;
    align-items: center;
}

.user-name {
    background-color: #2e7d32;
    font-weight: bold;
    color: white;
    padding: 7px;
    border-radius: 15px;
    width: 55px;
    height: 40px;
    border: 1px solid green;
}

.Button {
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
}

.Button:hover {
    background-color: #008236;
}
